*{
    /* border: 1px solid black; */
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: plum;
    height: 70px;
    position: fixed;
    width: 100vw;
    top: 0;
}
#box{
    display: flex;
}

#left{
    background-color: #F6EFF6;
    width: 59%;
}
#right{
    background-color: white;
    height: 500px;
    width: 38%;
    padding: 15px;
    position: fixed;
    right: 0;
    font-size: 13px;
}
#box{
    margin-top: 70px;
}
#right h3{
    margin-top: -5px;
}
#purchasedatashow{
    padding: 15px 0 15px 0px;
    background-color: rgb(196, 191, 191);
}
#purchasepriceshow{
    font-weight: lighter;
    margin-top: 15px;
    border-top: 1px solid black;
}

#purchasepriceshow>div{
    display: flex;
    justify-content: space-between;
    line-height: 0pt;
}
#purchasepriceshow>div:nth-child(1){
    margin-bottom: 5px;
}
#purchasepriceshow>div:nth-child(2){
    margin: 0px;
    padding: 0;
}
#purchasepriceshow>div:nth-child(3){
    margin-top: -15px;
    padding: 0px;
}
#purchasepriceshow>div:nth-child(4){
    margin-top: -15px;
    padding: 0px;
}
#purchasepriceshow>div:nth-child(5){
     border-top: 1px solid black;
     padding-top: 10px ;
}

/* leftside css */
#loginbar >div:nth-child(1){
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px;
    font-weight: bold;
    border: 1px solid white;
}
#loginbar>div:nth-child(1) p{
    padding-left: 15px;
}

#loginbar >div:nth-child(2){
    width: 50%;
    margin: auto;
    padding: 25%;
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;

}
#loginbar >div:nth-child(2) button{
    padding: 10px;
    width: 95%;
    display: block;
    background: linear-gradient(to right, #D059E8, #9462F8);
    color: white;
    font-size: bold;
    border-radius: 5px;
    border: none;
}
#loginbar >div:nth-child(2) button:hover{
    background: linear-gradient(to right, #c65bdc, #4806cd);
}
 /* we use to display none in js  */
#logininfo{
    /* display: none; */
}

#logininfo p{
    width: 98%;
    display: block;
    font-size: 12px;
    color: rgb(116, 116, 116);
}
#logininfo a{
    text-decoration: none;
    color: #E78EEC;
}

#loginshowemailid{
    font-weight: bold;
    color: black;
    font-size: 15px;
}
#logininfo>p:nth-child(1){
    font-size: 14px;
    color: black;
}
#logininfo button + p{
    font-size: 13px;
    color: black;
}
#gifttype{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#giftimg {
    display: flex;
    justify-content: space-between;
    width: 87%;
    padding-bottom: 15px;
}
#giftimg img{
    margin-top: 20px;
    width: 25%;
}
 /* this place will be use to display none for gift section */
#giftmessagearea{
    /* display: none; */
}

#gifttextarea{
    width: 95%;
    resize: none;
}
#giftmessage>div:nth-child(1){
    background-color: black;
    color: white;
    padding: 4px;
    border: 1px solid white;
}
#giftmessage>div:nth-child(1) p{
    padding-left: 15px;
}
#giftmessage>div:nth-child(2){
    padding-left: 15px;
    padding-bottom: 15px;
}

#giftmessage_div4{
    display: flex;
    justify-content: space-between;
    width: 95%;

}

#giftmessage_div4 span{
    font-size: 12px;
    font-weight: lighter;
    color: gray;
    padding-left: 10px;
}
#giftmessage_div4 p{
    font-size: 12px;
    font-weight: lighter;
    color: gray;
    margin-right: 10px;

}
#giftmessage_div5 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;

}
#giftmessage_div5 button{
    width: 40%;
    background: linear-gradient(to right, #D059E8, #9462F8);
    color: white;
    font-size: bold;
    border-radius: 5px;
    border: none;
}
 #box #giftmessage_div5 button:hover {
    background: linear-gradient(to right, #c65bdc, #4806cd);
}
#giftmessage_div5 label{
    padding: 10px;
    width: 40%;
    font-size: 12px;
}

#addressinfo h4{
    margin: 0;
    margin-top: 10px;
}

#addressinfo >div:nth-child(1){
    background-color: black;
    color: white;
    padding: 19px;
}
#addressinfo >div:nth-child(2){
    padding-left: 15px;
    padding-bottom: 15px;
}
#addressinfo input{
    padding: 10px;
    display: block;
}
#addressinfo select{
    padding: 10px;
}
#addressinfo button{
    padding: 10px;
}

#mobilenumberdiv{
    display: flex;
    /* background-color: red; */
}
#delivery_checkboxdiv{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#addressinput >div{
    font-size: 10px;
    margin-top: 5px;
}
#addressinput input{
    width: 60%;
    margin-top: 10px;
}

#addresstypebutton {
    padding: 10px 0 10px 0;
    
}#addresstypebutton button{
    border-radius: 5px;
    font-weight: bold;
    border: 0.3px solid gray;
    
}
#addresdropdown {
    padding: 8px 0 8px 0;
}
#addresstypebutton>button:nth-child(2) {
    margin-left: 65px;
}

#mobilenumberdiv{
    padding: 10px 0 10px 0;
}
#mobilenumberdiv input{
    margin-left: 25px;
    width: 35%;
}

#paymentmodebutton{
    margin: 10px 0 10px 0;
    width: 40%;
    background: linear-gradient(to right, #D059E8, #9462F8);
    color: white;
    font-size: bold;
    border-radius: 5px;
    border: none;
}
#paymentmodebutton:hover{
    background: linear-gradient(to right, #c65bdc, #4806cd);
}
