*{
    /* border: 1px solid black; */
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
#logo{
    width: 100%;
}

#navbar{
    background-color: plum;
    height: 70px;
    position: fixed;
    width: 100vw;
    top: 0;
}
#box{
    display: flex;
}

#left{
    background-color: #F6EFF6;
    width: 57%;
    margin-right: 25px;
}
#right{
    background-color: white;
    width: 35%;
    padding: 15px;
    padding-right: 25px;
    /* position: fixed; */
    right: 1;
    font-size: 11px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 500px;
    overflow: auto;

}
#box{
    margin-top: 170px;
}
#right h3{
    margin-top: -5px;
}
#purchasedatashow{
    padding: 15px 0 15px 0px;
    background-color: #F2E7FF;
    /* height: 300px; */
}
#purchasepriceshow{
    font-weight: lighter;
    margin-top: 15px;
    border-top: 1px solid black;
    /* background-color: red; */
}

#purchasepriceshow>div{
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 20px;
   

}
#purchasepriceshow>div:nth-child(1){
    margin-bottom: 3px;
}
#purchasepriceshow>div:nth-child(4){

    padding-bottom: 10px ;
}

#purchasepriceshow>div:nth-child(5){
     border-top: 1px solid black;
     padding-top: 10px ;
     padding-bottom: 30px;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin: 15px;
    border: 1px solid gray;
   
}
.cards>div:nth-child(1){
    width:60%;
}
.cards>div:nth-child(2){
   padding: 25px;
}
.cards img{
    width:100%;
}
.cards select{
    padding: 15px;
}
.cards button{
    padding: 2px;
    background-color: #9462F8;
    border: none;
    color: white;
    border-radius: 1px;
}

/* leftside css */
#loginbar >div:nth-child(1){
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px;
    font-weight: bold;
    border: 1px solid white;
}
#loginbar>div:nth-child(1) p{
    padding-left: 15px;
}

#loginbar >div:nth-child(2){
    width: 50%;
    margin: auto;
    padding: 25%;
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;

}
#loginbar >div:nth-child(2) button{
    padding: 10px;
    width: 95%;
    display: block;
    background: linear-gradient(to right, #D059E8, #9462F8);
    color: white;
    font-size: bold;
    border-radius: 5px;
    border: none;
}
#loginbar >div:nth-child(2) button:hover{
    background: linear-gradient(to right, #c65bdc, #4806cd);
}
 /* we use to display none in js  */

#logininfo p{
    width: 98%;
    display: block;
    font-size: 12px;
    color: rgb(116, 116, 116);
}
#logininfo a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bolder;
    color:#9462F8;
}

#loginshowemailid{
    font-weight: bold;
    color: black;
    font-size: 15px;
}
#logininfo>p:nth-child(1){
    font-size: 12px;
    color: black;
    padding: 12px;
}
#logininfo button + p{
    font-size: 13px;
    color: black;
}
#gifttype{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#giftimg {
    display: flex;
    justify-content: space-between;
    width: 87%;
    padding-bottom: 15px;
}
#giftimg img{
    margin-top: 20px;
    width: 25%;
}
 /* this place will be use to display none for gift section */
#giftmessagearea{
    /* display: none; */
}

#gifttextarea{
    width: 95%;
    resize: none;
}
#giftmessage>div:nth-child(1){
    background-color: black;
    color: white;
    padding: 4px;
    border: 1px solid white;
    
}
#giftmessage>div:nth-child(1) p{
    padding-left: 15px;
}
#giftmessage>div:nth-child(2){
    padding-left: 15px;
    padding-bottom: 15px;
}

#giftmessage_div4{
    display: flex;
    justify-content: space-between;
    width: 95%;

}

#giftmessage_div4 span{
    font-size: 12px;
    font-weight: lighter;
    color: gray;
    padding-left: 10px;
}
#giftmessage_div4 p{
    font-size: 12px;
    font-weight: lighter;
    color: gray;
    margin-right: 10px;

}
#giftmessage_div5 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;

}
#giftmessage_div5 button{
    width: 40%;
    background: linear-gradient(to right, #D059E8, #9462F8);
    color: white;
    font-size: bold;
    border-radius: 5px;
    border: none;

}

 #box #giftmessage_div5 button:hover {
    background: linear-gradient(to right, #c65bdc, #4806cd);
}
#giftmessage_div5 label{
    padding: 10px;
    width: 40%;
    font-size: 12px;
}

#addressinfo h4{
    margin: 0;
    margin-top: 10px;
}

#addressinfo >div:nth-child(1){
    background-color: black;
    color: white;
    padding: 4px;
    border: 1px solid white;
}
#addressinfo >div:nth-child(1) p{
    
    padding-left: 15px;
    
}
#addressinfo >div:nth-child(2){
    padding-left: 15px;
    padding-bottom: 15px;
}
#addressinfo input{
    padding: 10px;
    display: block;
}
#addressinfo select{
    padding: 10px;
}
#addressinfo button{
    padding: 10px;
}

#mobilenumberdiv{
    display: flex;
    /* background-color: red; */
}
#delivery_checkboxdiv{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#addressinput >div{
    font-size: 10px;
    margin-top: 5px;
}
#addressinput input{
    width: 60%;
    margin-top: 10px;
}

#addresstypebutton {
    padding: 10px 0 10px 0;
    
}#addresstypebutton button{
    border-radius: 5px;
    font-weight: bold;
    border: 0.3px solid gray;
    
}
#addresdropdown {
    padding: 8px 0 8px 0;
}
#addresstypebutton>button:nth-child(2) {
    margin-left: 65px;
}

#mobilenumberdiv{
    padding: 10px 0 10px 0;
}
#mobilenumberdiv input{
    margin-left: 25px;
    width: 35%;
}

#paymentmodebutton{
    margin: 10px 0 10px 0;
    width: 40%;
    background: linear-gradient(to right, #D059E8, #9462F8);
    color: white;
    font-size: bold;
    border-radius: 5px;
    border: none;
}
#paymentmodebutton:hover{
    background: linear-gradient(to right, #c65bdc, #4806cd);
}

#paymetntypebox {
    display: flex;
}
#paymentbar>div:nth-child(1) {
    background-color: black;
    color: white;
    padding: 4px;
    border: 1px solid white;
}
#paymentbar>div:nth-child(1) p {
    margin-left: 16px;
}
#paymetntypebox img{
    width: 20%;
    padding-left: 40%;
}
#upibox{
    color: #D059E8;
    font-weight: bold;
}
#upitype2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-right: 20px;
}
#upitype2>div{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#upitype2>div input{
    margin-top: 20px;
    padding: 15px;
    width: 80%;
}
#upitype2>div button{
    margin-top: 25px;
    padding: 10px;
    width: 60%;
    background: linear-gradient(to right, #D059E8, #9462F8);
    color: white;
    font-size: bold;
    border-radius: 5px;
    border: none;
}
#upitype2>div button:hover{
    background: linear-gradient(to right, #c65bdc, #4806cd);
}

#paymetntypebox>div:nth-child(1){
    padding-right: 25px; 
    font-size: 13px;
}
#paymetntypebox>div:nth-child(1) p{
    padding: 5px;
    text-align: center;
}
#paymetntypebox>div:nth-child(1) input{
    display: block;
    margin-left: 40%;
}

#paymentbar h4{
    padding: 15px;
}
#right select{
    padding: 1px;
}

@media  screen and (max-width:480px) {
    #box{
        margin-top: 280px;
    }

    #right{
        display: none;
    }
    #left{
        width: 100%;
    }
}
@media  screen and (max-width:780px) {
    
    #box{
        margin-top: 280px;
        /* background-color: red; */
    }
    #right{
        display: none;
    }
    #left{
        width: 100%;
    }
}







