body {
  margin: 0;
  /* font-size: 1.4em; */
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin-top: 0px !important;
  display: block;
}
.home-page {
  font-family: "MulRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
#app {
  background-color: #ffffff;
  min-height: 100%;
  min-width: 100%;
}
.main-page {
  font-size: 1.6rem;
  /* padding-top: 13.9rem; */
  background-color: #fff;
}
.scrolling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 25px;
  background-color: #4f3267;
  margin: auto;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateX(70deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
/* .nav-top1 {
  animation: myAnim 2s ease 2s infinite normal forwards;
  width: 50%;
  font-size: 5px;
  color: #fff;
} */
.greadient {
  border: none;
  border-color: white;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px 15px 4px 15px;
  color: white;
  background: linear-gradient(to right, #de57e5 0%, #8863fb 100%);
}
.number {
  position: absolute;
  top: 13px;
  right: 0px;
  border-radius: 50%;
  padding: 1px 3px 1px 3px;
  margin: 0;
  border: 0;
}
.nav-icon {
  position: relative;
}
input {
  border: #de57e5;
  caret-color: #de57e5;
}

.nav-top2 {
  animation: myAnim 3s ease 2s infinite normal forwards;
  width: 50%;
  font-size: 8px;
  word-spacing: 3px;
  color: #fff;
}
.main-navigation-pannel {
  background-color: rgb(242, 231, 255);
  position: sticky;
  display: flex;
  justify-content: space-;
  align-items: center;
  font-size: 10px;
}
.left-nav {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.right-nav {
  width: 50%;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right-nav > .nav3 > .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#input-search {
  border-right: none;
  border: rgb(255, 30, 244);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 8px;
  width: 100%;
}
.pincode {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav1 > img {
  height: 70px;
}
.nav-bar {
  margin: auto;
}
.nav1 {
  width: 20%;
  display: flex;
  justify-content: center;
}
.nav2 {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav2 div {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
}
.nav2 div:hover {
  font-size: 13px;
  color: #d300de;
}
.nav2 div::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: linear-gradient(to right, #de57e5 0%, #8863fb 100%);
}
.nav2 div::after {
  width: 100%;
}
.nav3 {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.flag {
  width: 40px;
}
.nav4 {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-image {
  width: 20px;
}
.menu-bar {
  width: 100%;
  font-size: 13px;
  background-color: #fff5fe;
  font-family: "MuliBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: space-around;
  align-items: center;
}
.menu {
  width: 80%;
  padding: 15px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-list :hover {
  border-bottom: 2px solid rgb(247, 4, 227);
}
.hamburger-menu-list {
  display: none;
  width: 100px;
}
.ham-header {
  width: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.ham-header > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  width: 100%;
}
.ham-header > div img {
  width: 30px;
}
.ham-header > div:nth-child(2) img {
  width: 50px;
}

.input-checkbox {
  display: none;
}
.nav-button {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  /* background-color: #b527cf; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.nav-button span::before,
.nav-button span::after,
.nav-button span {
  background-color: rgb(57, 57, 57);
  width: 30px;
  height: 3px;
  border-radius: 2px;
  transition: 0.5s;
}
.nav-button span::before,
.nav-button span::after {
  content: "";
  position: relative;
  display: inline-block;
}
.nav-button span::before {
  top: -15px;
}
.nav-button span::after {
  top: -9px;
}
.input-checkbox:checked + .nav-button span {
  background-color: transparent;
}
.input-checkbox:checked + .nav-button span::before {
  top: -13px;
  transform: rotate(135deg);
}
.input-checkbox:checked + .nav-button span::after {
  top: -25px;
  transform: rotate(-135deg);
}
.search-btn-responsive {
  display: none;
  visibility: hidden;
  width: 100%;
  padding: 5px;
  background-color: #fff5fe;
}
.search {
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 3px;
  width: 80%;
  margin: auto;
  font-size: 20px;
  display: flex;
}

.menu-bar-responsive {
  display: none;
  background-color: #f7f4ff;
  visibility: hidden;
}
.responsive-menu-list {
  display: flex;
  width: 95%;
  margin-left: 15px;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  /* background-color: red; */
}
.responsive-menu-list p{
  font-size: 12px;
}

.responsive-list {
  width: 100%;
  border-radius: 10px;
  margin: auto;
}
.responsive-list > img {
  border-radius: 20px;
  width: 80%;
}
.footer {
  padding: 30px;
  background-color: #ffeefe;
}
.footer-main {
  width: 100%;
  /* height: 40 */
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
}
.footer-sub {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* margin: auto; */
  width: 80%;
  height: 300px;
  margin: auto;
  /* border: 3px solid black; */
  /* background-color: white; */
}
.footer-sub div:last-child a {
  color: #d300de;
  text-decoration: #c204cc;
  /* background-color: red; */
}
.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts img {
  background: transparent;
  margin: 10px;
  width: 20px;
  height: 20px;
}
.footer-sub > div {
  padding: 10px;
  font-size: 12px;
  line-height: 30px;
  font-family: InterRegular, "Helvetica neue", Helvetica, Arial, sans-serif;
  /* margin: auto; */
  width: 18%;
  /* border: 3px solid black; */
  /* height: 250px; */
}
.footer-sub2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 200px;
  /* border: 5px solid black; */
  /* background: yellow; */
}
.footer-sub2 > div {
  width: 30%;
  height: 190px;
  /* border: 5px solid black; */
}
.socialmedia-section {
  /* width: 50%; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.socialmedia {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.socialmedia img {
  width: 40px;
  height: 40px;
}
.playstore {
  width: 80%;
}
.download-app {
  font-size: 15px;
  color: gray;
  padding-top: 20px;
}
.playstore img {
  padding: 20px;
  width: 400px;
}
.payment-section div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.payment-section div > img {
  background: transparent;
  width: 60px;
}

/* menu hover effects */
.main-hover,
.main-hover2,
.main-hover3 {
  display: none;
  z-index: 10;
  visibility: hidden;
}
.rings {
  position: relative;
  z-index: 2;
  transition: height 500ms;
  display: flex;
  width: 100%;
  height: 400px;
  font-size: 13px;
  justify-content: space-around;
  align-items: flex-start;
  /* animation: myAnim 1s ease 0s infinite normal forwards; */
}
.rings .heading {
  padding: 15px;
  color: black;
  border-bottom: 2px solid rgb(187, 2, 207);
}
.rings a {
  text-decoration: none;
  color: gray;
}
.rings a:hover {
  font-size: 14px;
  color: black;
}
.rings > div div img {
  width: 50px;
}
.rings > div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-direction: column; */
}
#shop-by-metal img {
  padding: 12px;
  width: 17px;
}
.shopby a {
  font-size: 15px;
  padding: 8px;
  display: block;
}
.earrings {
  position: relative;
  z-index: 2;
  transition: height 500ms;
  display: flex;
  width: 100%;
  height: 400px;
  font-size: 13px;
  justify-content: space-around;
  align-items: flex-start;
  /* animation: myAnim 1s ease 0s infinite normal forwards; */
}
.earrings .heading {
  padding: 15px;
  color: black;
  border-bottom: 2px solid rgb(187, 2, 207);
}
.earrings a {
  text-decoration: none;
  color: gray;
}
.earrings a:hover {
  font-size: 14px;
  color: black;
}
.earrings > div div img {
  width: 50px;
}
.earrings > div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-direction: column; */
}
#shop-by-metal img {
  padding: 12px;
  width: 17px;
}
.shopby a {
  font-size: 15px;
  padding: 8px;
  display: block;
}
.bangles {
  position: relative;
  z-index: 2;
  transition: height 500ms;
  display: flex;
  width: 100%;
  height: 400px;
  font-size: 13px;
  justify-content: space-around;
  align-items: flex-start;
  /* animation: myAnim 1s ease 0s infinite normal forwards; */
}
.bangles .heading {
  padding: 15px;
  color: black;
  border-bottom: 2px solid rgb(187, 2, 207);
}
.bangles a {
  text-decoration: none;
  color: gray;
}
.bangles a:hover {
  font-size: 14px;
  color: black;
}
.bangles > div div img {
  width: 50px;
}
.bangles > div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-direction: column; */
}
#shop-by-metal img {
  padding: 12px;
  width: 17px;
}
.shopby a {
  font-size: 15px;
  padding: 8px;
  display: block;
}

/* .first-display-responsive-image {
  display: none;
  visibility: hidden;
} */

@media only screen and (max-width: 1000px) {
  .nav2,
  .nav3 {
    display: none;
  }
  .nav4 {
    width: 50%;
  }
  .search-btn-responsive {
    display: block;
    visibility: visible;
    width: 100%;
    padding: 5px;
    background-color: #fff5fe;
  }
  .nav-button {
    visibility: visible;
  }
  .menu-bar {
    display: none;
  }
  .menu-bar-responsive {
    display: block;
    visibility: visible;
  }
  .first-display-responsive-image {
    display: block;
    visibility: visible;
  }
}
