.first-display-image {
  width: 100%;
}
.first-display-image > img {
  position: relative;
  overflow: visible;
  width: 100%;
  /* width: 100%; */
}
/* #bottom-img {
  position: absolute;
  top: -50px;
  left: 350px;
  width: 10%;
} */
.section2 {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.left-section {
  width: 49%;
  /* height: 500px; */
}
.left-section img {
  width: 100%;
  height: 620px;
}
.right-section {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.right-section img {
  width: 100%;
  height: 320px;
}
.section3 {
  display: grid;
  padding: 40px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.section3 img {
  width: 100%;
}
.section4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: -5px;
}
.section4 img {
  width: 100%;
}
.section4 > div {
  padding: 30px;
}
#middle-div {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
#middle-div a {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  color: black;
}
#collections-btn {
  display: flex;
  margin-top: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* align-items: center; */
  width: 50%;
  padding: 10px;
  border: 2px solid purple;
}
.section5 {
  width: 95%;
  margin-top: 20px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.section5 img {
  width: 100%;
}
#section6 {
  width: 90%;
  padding: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
}
#section6 > div {
  position: relative;
}
#section6 img {
  width: 70%;
}
.schedule {
  position: absolute;
  background: transparent;
  top: 160px;
  left: 360px;
  line-height: 45px;
  width: 250px;
}
.schedule-heading {
  font-size: 25px;
}
.line {
  font-size: 15px;
  color: rgb(5, 5, 5);
}
.schedule button {
  border-radius: 5px;
  font-size: 19px;
  padding: 18px;
  width: 200px;
}
#section7 {
  background-color: rgb(255, 231, 255);
  display: flex;
  padding: 100px;
  justify-content: space-around;
}
#section7 div:nth-child(1) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section7 div:nth-child(2) {
  width: 50%;
}
#section7 div:nth-child(2) > .para {
  line-height: 25px;
  font-size: 17px;
  color: gray;
}
#section7 div:nth-child(2) > button {
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  width: 200px;
}
#section8 {
  display: flex;
  padding: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: rgb(28, 0, 55);
  color: rgb(201, 201, 201);
}
#section8 .tanishq {
  font-size: 30px;
  color: rgb(162, 116, 0);
}
#section8 .para {
  line-height: 27px;
  border-color: white;
  font-size: 18px;
}
#section8 button {
  background: transparent;
  margin: auto;
  color: rgb(223, 222, 222);
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid white;
}
.after-footer {
  padding: 100px;
}
.after-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  /* align-items: center; */
  height: 100px;
  border-bottom: 2px solid rgb(174, 174, 174);
  line-height: 20px;
}
.after-footer h4 {
  font-size: 15px;
  color: rgb(97, 97, 255);
}
.after-footer h4 ~ p {
  font-size: 13px;
  color: gray;
}
