#maincontainer{
    display: flex;
    
    
}
#filter-data{
    position:sticky;
    /* top: 10px; */
    left: 0;
    width: 20%;
    margin-left:5%;
    border-radius:40px 40px 0px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'MuliBold','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    margin-right: 2%;
}

#filter-data>div:first-child{
   width: 100%;
   height: 50px;
   display: flex;
  border-radius:30px 30px 0px 0px;
   background-color: #bf85ee;
   justify-content: center;
   align-items: center;
   text-align: center;

}
.filter-data{
    margin-left: 10%;
    margin-right: 10%;
}
.checkbox-product{
    margin-right:10%;
    margin-bottom:5%;
   flex: 0 0 auto;
   width: 18px;
   height: 18px;
   border-radius:100%;
   border: solid 3px #8863fb;
   background-color: #f6f3f9;
   cursor: pointer;
}
#change-image-div{
    width: 100%;
}
#change-image-div img{
    width: 100%;
}
#change-image-div>div img{
     width: 3%;  
}
#change-image-div>div img:hover{
    cursor: pointer;
    width: 4%;
    font-size: 60px;
}
#forword-button{
    position: absolute;
    top: 45%;
    right: 5%;
}
#backword-button{
    position: absolute;
    top: 45%;
    left: 5%;
}
#filter-data h4{
    margin-bottom: 10px;
    margin-top: 15px;
    border-bottom: 0.5px solid #4f3267;
}
#sort-data>div:first-child{
    display:flex ;
    margin-left: 5%;
}
#sort-data{
    
    margin-top: 0px;
    display: flex;
    background-color: #bf85ee;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid black;
}
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }
.low-number{
    font-size: 15px;
    border-radius: 4px;
    padding: 5px 20px 5px 20px;
   outline: none;
   text-decoration: none;
   background-color: white;
   margin-right: 15px;
   /* -webkit-appearance: none;
   -moz-appearance: textfield; */
}
#sort-data button{
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    background: linear-gradient(to right, #D059E8, #9462F8);
    border: 0.1px solid  black;
    cursor: pointer;
    
}
#sort-data button:hover{
    background: linear-gradient(to right, #c65bdc, #4806cd);
}
#sort-data>div:nth-child(2){
    margin-left: 70vh;
}

#select-filter{
    font-size: 15px;
    outline: none;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
/* ------------------product- css----------------------------------- */
#container{
    display: grid;
    width: 75%;
    gap: 15px;
    grid-template-columns:repeat(3,1fr) ;
    font-size: 20px;
    line-height: 0;
    margin-right: 5%;
}
.card-image-div{
    width: 100%;
}
.card-image{
    width: 100%;
}
.price-div>p:nth-child(2){
    color: #1E88E5;
    cursor: pointer;
}
.rating-div>p img{
    width: 6%;
}
.price-div>p img{
    width: 10%;
}
/* .price-div>p:nth-child(2){
   display: flex;
   justify-content: space-around;
} */
.product-div{
    /* border: 2px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}
.rating-div{
    display: flex;
    justify-content: space-between;
    
}
.rating-div button{
    width: 100%;
    background-color: white;
    font-size: 20px;
    padding: 0px 0px;
    cursor: pointer;
    border-radius: 8px;  
    
}
.rating-div button:hover{
    background-color: #8863fb;
    font-size: 22px;
}
/* ------------------------------------------------pagination---------------------------------- */
.pagination-wrapper {
    border: 1px dashed #E1E1E1;
    border-radius: 4px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  .pagination-wrapper button{
    font-size: 20px;
    padding: 5px 20px;
    margin-right: 5px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    border: 0.1px solid black;
  }
  .pagination-wrapper button:hover{
          background-color: #bf85ee;

  }
.rahul{
    font-size: 25px;
}
@media only screen and (max-width:840px) {
    #container{
        grid-template-columns: repeat(2,1fr);
    }
    #select-filter{
        display: none;
    }
} 
@media only screen and (max-width:500px) {
    #container{
        grid-template-columns: repeat(1,1fr);
    }
    #filter-data{
        display: none;
    }
}   

